.Header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: dashed 1px var(--border-dot);
    position: fixed;
    backdrop-filter: blur(10px);
    background-color: var(--blur-color-header);
    z-index: 10;

    .Header__container_wrapper {
        display: flex;
        width: 100%;
        height: 56px;
        max-width: var(--page-maxsize);
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        border-left: dashed 1px var(--border-dot);
        border-right: dashed 1px var(--border-dot);
        padding: 0 20px;


        .Header__logo {
            width: 50px;
            font-size: 24px;
            font-weight: bold;

        }

        .Header__nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;


            .Header__nav__item {
                text-decoration: none;
                color: var(--secondary-text);
                font-size: 16px;
                transition: color 0.3s;

                &:hover {
                    color: var(--foriegn-text);
                }

            }

            .Header__nav__item_logo {
                display: flex;
                align-items: center;
                gap: 5px;

                &:hover {
                    cursor: default;
                }

                .LogoSpan {
                    font-weight: 700;
                    color: var(---foriegn-text);
                }
            }


        }

        .Header__Profile {
            margin-right: 10px;
        }
    }
}