.NotificationDashboard {
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;
    border: var(--border-dot) 1px solid;
    border-radius: 12px;
    box-shadow: 0 4px 8px var(--card-teacher-shadow);
}